* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#moveBox {
    justify-content: center;
    display: flex;
    gap: 16px;
}

#curtain {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: gray;
    opacity: 50%;
}

#playGame {
    opacity: 100%;
}

#scoreboard {
    display: flex;
    justify-content: center;
    gap: 16px;
}
.score {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info {
    text-align: center;
}

.inactive {
    background-color: gray; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.move {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.title {
    font-size: 64px;
    text-align: center;
}
